<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ganpai.mapper.DemandDOMapper">
  <resultMap id="BaseResultMap" type="com.ganpai.model.DemandDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="region_restrict" jdbcType="VARCHAR" property="regionRestrict" />
    <result column="demand_desc" jdbcType="VARCHAR" property="demandDesc" />
    <result column="design_cyc" jdbcType="VARCHAR" property="designCyc" />
    <result column="design_style" jdbcType="VARCHAR" property="designStyle" />
    <result column="demand_specific" jdbcType="VARCHAR" property="demandSpecific" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="is_accept" jdbcType="TINYINT" property="isAccept" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id,category_id, login_name, mobile, region_restrict, demand_desc, design_cyc, design_style,
    demand_specific, price, create_time, end_time, is_accept, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from demand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update demand
    set is_del = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.ganpai.model.DemandDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demand (user_id,category_id, login_name, mobile,
      region_restrict, demand_desc, design_cyc, 
      design_style, demand_specific, price, 
      create_time, end_time, is_accept, 
      is_del)
    values (#{userId,jdbcType=BIGINT},#{categoryId,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{regionRestrict,jdbcType=VARCHAR}, #{demandDesc,jdbcType=VARCHAR}, #{designCyc,jdbcType=VARCHAR}, 
      #{designStyle,jdbcType=VARCHAR}, #{demandSpecific,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{isAccept,jdbcType=TINYINT}, 
      #{isDel,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ganpai.model.DemandDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="regionRestrict != null">
        region_restrict,
      </if>
      <if test="demandDesc != null">
        demand_desc,
      </if>
      <if test="designCyc != null">
        design_cyc,
      </if>
      <if test="designStyle != null">
        design_style,
      </if>
      <if test="demandSpecific != null">
        demand_specific,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isAccept != null">
        is_accept,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="regionRestrict != null">
        #{regionRestrict,jdbcType=VARCHAR},
      </if>
      <if test="demandDesc != null">
        #{demandDesc,jdbcType=VARCHAR},
      </if>
      <if test="designCyc != null">
        #{designCyc,jdbcType=VARCHAR},
      </if>
      <if test="designStyle != null">
        #{designStyle,jdbcType=VARCHAR},
      </if>
      <if test="demandSpecific != null">
        #{demandSpecific,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAccept != null">
        #{isAccept,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ganpai.model.DemandDO">
    update demand
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="regionRestrict != null">
        region_restrict = #{regionRestrict,jdbcType=VARCHAR},
      </if>
      <if test="demandDesc != null">
        demand_desc = #{demandDesc,jdbcType=VARCHAR},
      </if>
      <if test="designCyc != null">
        design_cyc = #{designCyc,jdbcType=VARCHAR},
      </if>
      <if test="designStyle != null">
        design_style = #{designStyle,jdbcType=VARCHAR},
      </if>
      <if test="demandSpecific != null">
        demand_specific = #{demandSpecific,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAccept != null">
        is_accept = #{isAccept,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ganpai.model.DemandDO">
    update demand
    set user_id = #{userId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      login_name = #{loginName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      region_restrict = #{regionRestrict,jdbcType=VARCHAR},
      demand_desc = #{demandDesc,jdbcType=VARCHAR},
      design_cyc = #{designCyc,jdbcType=VARCHAR},
      design_style = #{designStyle,jdbcType=VARCHAR},
      demand_specific = #{demandSpecific,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_accept = #{isAccept,jdbcType=TINYINT},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from demand
    where 1=1
    <include refid="List_Where" />
    ORDER BY id DESC
    <if test="pageSize >0">
      limit #{startIndex},#{pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.ganpai.model.DemandDO"
          resultType="long">
    select
    count(1)
    from demand
    where 1=1
    <include refid="List_Where" />
  </select>

  <sql id="List_Where">
    <if test="record.id != null">
      and id = #{record.id,jdbcType=BIGINT}
    </if>
    <if test="record.userId != null">
      and user_id = #{record.userId,jdbcType=BIGINT}
    </if>
    <if test="record.categoryId != null">
      and category_id = #{record.categoryId,jdbcType=BIGINT}
    </if>
    <if test="record.loginName != null">
      and login_name = #{record.loginName,jdbcType=VARCHAR}
    </if>
    <if test="record.mobile != null">
      and mobile = #{record.mobile,jdbcType=VARCHAR}
    </if>
    <if test="record.regionRestrict != null">
      and region_restrict = #{record.regionRestrict,jdbcType=VARCHAR}
    </if>
    <if test="record.demandDesc != null">
      and demand_desc = #{record.demandDesc,jdbcType=VARCHAR}
    </if>
    <if test="record.designCyc != null">
      and design_cyc = #{record.designCyc,jdbcType=VARCHAR}
    </if>
    <if test="record.designStyle != null">
      and design_style = #{record.designStyle,jdbcType=VARCHAR}
    </if>
    <if test="record.demandSpecific != null">
      and demand_specific = #{record.demandSpecific,jdbcType=VARCHAR}
    </if>
    <if test="record.price != null">
      and price = #{record.price,jdbcType=DECIMAL}
    </if>
    <if test="record.createTime != null">
      and create_time = #{record.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.endTime != null">
      and end_time = #{record.endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.isAccept != null">
      and is_accept = #{record.isAccept,jdbcType=TINYINT}
    </if>
    <if test="record.isDel != null">
      and is_del = #{record.isDel,jdbcType=TINYINT}
    </if>
  </sql>
</mapper>